<section data-auto-animate>
    <div class="r-stretch">
        <h1 class="section-title">
            Bibliographie
        </h1>
        <main>
            <div class="two-columns">
                <div>
                    <h4>Guides</h4>
                    <ul class="links-list">
                        <li>
                            <a href="https://roadmap.sh/full-stack">Fullstack Developer Roadmap</a>
                        </li>
                        <li>
                            <a href="https://www.freecodecamp.org/news/an-introduction-to-git-for-absolute-beginners-86fa1d32ff71/">
                                Git for Absolute Beginners
                            </a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/fr/docs/Learn">MDN &mdash; Apprendre le développement web</a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/fr/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks">
                                MDN &mdash; Comprendre les frameworks JavaScript
                            </a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/fr/docs/Learn/Accessibility">MDN &mdash; Accessibilité</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>Normes</h4>
                    <ul class="links-list">
                        <li><a href="https://developer.mozilla.org/fr/docs/Web/HTTP">MDN &mdash; Protocole HTTP</a></li>
                        <li><a href="https://semver.org/">Gestion sémantique de version</a></li>
                        <li><a href="https://accessibilite.numerique.gouv.fr/">RGAA &mdash; Référentiel général d’amélioration de l’accessibilité</a></li>
                    </ul>
                </div>
            </div>


            <div class="two-columns">
                <div>
                    <h4>Références PHP</h4>
                    <ul class="links-list">
                        <li><a href="https://phptherightway.com/">PHP: The Right Way</a></li>
                        <li><a href="https://www.php-fig.org/psr/">PSR (PHP-FIG)</a></li>
                        <li><a href="https://symfony.com/doc/current/index.html">Symfony (docs)</a></li>
                    </ul>
                </div>

                <div>
                    <h4>Références Laravel</h4>
                    <ul class="links-list">
                        <li><a href="https://bootcamp.laravel.com/">Laravel Bootcamp</a></li>
                        <li><a href="https://laravel.com/docs">Laravel (docs)</a></li>
                        <li><a href="https://laracasts.com/">Laracasts</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>