<section data-transition="slide-in zoom-out">
    <div class="r-stretch">
        <div>
            <!-- Empty -->
        </div>
        <main>
            <h1>Merci 👋</h1>
            <h3>Place au projet XYZ.</h3>
        </main>
        <footer>
            <div>© 2024 <a href="https://www.linkedin.com/in/wallerand">linkedin.com/in/wallerand</a></div>
            <div>Partagé sous licence <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC BY-NC-SA 4.0</a></div>
        </footer>
    </div>
</section>