<section>
    <div class="r-stretch">
        <h1 class="section-title">
            Authentification
        </h1>
        <main>
            
            <ul>
                <li style="margin-bottom: 32px;">
                    2 possibilités
                    <ol>
                        <li>Soit l’application intègre directement l’authentification</li>
                        <li>Soit l’application délègue l’authentification à un autre service</li>
                    </ol>
                </li>

                <li>
                    Les frameworks facilitent ces 2 situations
                    <ol>
                        <li>ressources pour prendre en charge l’authentification intégrée
                            <br>ex. middleware, guards, etc.
                        </li>
                        <li>ressources pour prendre en charge l’authentification à partir de protocoles
                            <br>ex. OpenID/OAuth, LDAP, etc.
                        </li>
                    </ol>
                </li>
            </ul>
            
        </main>
    </div>
</section>