<section>
    <main>
        <h3>1. Propos introductifs</h3>
        <h3>2. Gestion des dépendances</h3>
        <h3>3. Cycle de vie des requêtes</h3>
        <h3>4. Authentification et autorisation</h3>
        <h3>5. Qualité et conformité</h3>
        <h3 style="text-decoration: line-through;">6. Gestion des performances</h3>
        <h3 style="text-decoration: line-through;">7. Cycle d'intégration et exploitation</h3>
    </main>
</section>