<section data-auto-animate>
    <section>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>Les frameworks de développement</small>
            </h1>
            <main class="text-center">
                <img src="images/frameworks.png" alt="">
                <div class="caption">Source: Wikipedia</div>
            </main>
        </div>
    </section>

    <section data-background-image="images/background-2.jpg"  data-background-opacity="0.25">
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>Les frameworks de développement</small>
            </h1>
            <main>
                <h6 style="margin-bottom: 38px;">Pourquoi utiliser un framework ?</h6>
                <div>
                    <div>
                        <ol>
                            <li>
                                Temps
                                <p style="font-size: 0.75em; margin: 0 0 4px;">Gagner du temps sur les tâches communes/basiques/chronophages</p>
                            </li>
                            <li style="margin-top: 24px;">
                                Uniformité
                                <p style="font-size: 0.75em; margin: 0;">Imposer un cadre commun pour l’ensemble des projets</p>
                            </li>
                            <li style="margin-top: 24px;">
                                Conformité
                                <p style="font-size: 0.75em; margin: 0;">Apporter des garanties en termes de sécurité, qualité et respest des bonnes pratiques</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </main>
        </div>
    </section>

    <section>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>Les frameworks de développement</small>
            </h1>
            <main>
                <div>
                    <div class="two-columns">
                        <div class="text-center">
                            <img src="images/projet-laravel.png" alt="">
                            <div class="caption">Projet Laravel</div>
                        </div>
                        <div class="text-center">
                            <img src="images/projet-symfony.png" alt="">
                            <div class="caption">Projet Symfony</div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </section>

    <section>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>Les frameworks de développement</small>
            </h1>
            <main>
                <h6 style="margin-bottom: 38px;">Comment choisir un framework ?</h6>
                <div>
                    <div>
                        <ol>
                            <li>
                                Critères
                                <p style="font-size: 0.75em; margin: 0 0 4px;">Besoins et contraintes du projet</p>
                                <p style="font-size: 0.75em; margin: 0 0 4px;">Écosystème, communauté et antériorité</p>
                            </li>
                            <li style="margin-top: 24px;">
                                Limites
                                <p style="font-size: 0.75em; margin: 0;">Choix structurant = choix important</p>
                                <p style="font-size: 0.75em; margin: 0;">Pas de solution miracle</p>
                                <p style="font-size: 0.75em; margin: 0;">Ne conditionne pas la qualité d'un projet</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </main>
        </div>
    </section>

    <section>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>Les frameworks de développement</small>
            </h1>
            <main>
                <h6 style="margin-bottom: 38px;">Quelles conséquences sur le marché du travail ?</h6>
                <div>
                    <ul>
                        <li>Maitrise d’un framework = compétence valorisée, mais pas exclusive</li>
                        <li>Les entreprises cherchent des profils</li>
                        <ol>
                            <li>Qui savent s’adapter (prioritairement)</li>
                            <li>Qui connaissent la technologie qu'elles utilisent (de préférence)</li>
                            <li>Qui maîtrisent le framework qu'elles utilisent (idéalement)</li>
                        </ol>
                    </ul>
                </div>
            </main>
        </div>
    </section>
</section>