<section data-auto-animate>
    <section data-auto-animate>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>L'architecture d'une application</small>
            </h1>
            <main>
                <ul>
                    <li>Plusieurs façons de concevoir une application web</li>
                    <li>
                        On distingue traditionnellement
                        <ol>
                            <li>L'architecture côté traitement (calcul, backend)</li>
                            <li>L'architecture côté interface (rendu, frontend)</li>
                        </ol>
                    </li>
                </ul>
                <div class="two-columns">
                    <ul>
                        <li>Les choix d'architecture impactent
                            <ul>
                                <li style="margin-bottom: 0;">les technologies utilisées</li>
                                <li style="margin-bottom: 0;">les modalités d'exploitation</li>
                            </ul>
                        </li>
                        </ul>
                        <ul>
                        <li>L'arbitrage se fait donc en fonction
                            <ul>
                                <li style="margin-bottom: 0;">des objectifs du projet</li>
                                <li style="margin-bottom: 0;">des ressources disponibles</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </section>

    <section data-auto-animate>
        <div class="r-stretch">
            <h1 class="section-title"> 
                Propos introductifs <small>/</small> <small>L'architecture d'une application</small>
            </h1>

            <main class="text-center">
                Côté traitement:<br> Monolithique vs. Micro-services

                <img src="images/architecture.jpg" style="max-height: 80%; margin-top: 12px;" alt="">

                <div class="caption">Source: <a href="https://dashbird.io/knowledge-base/well-architected/monolith-vs-microservices/">Dashbird</a></div>
            </main>
        </div>
    </section>

    <section data-auto-animate>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>L'architecture d'une application</small>
            </h1>

            <main class="text-center">
                Côté interface:<br> Single Page Application (SPA) vs. Multi Page Application (MPA/SSR)

                <img src="images/mpa-vs-spa.avif" style="margin-top: 12px;" alt="">

                <div class="caption">Source: <a href="https://blog.logrocket.com/build-spa-svelte-svelte-spa-router/">Logrocket</a></div>
            </main>
        </div>
    </section>

    <section data-auto-animate>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>L'architecture d'une application</small>
            </h1>

            <main class="text-center">
                <div>SPA par l'exemple</div>

                <img src="images/excel-ui.png" alt="" style="margin-top: 12px;">
                <div class="caption">Interface d'Excel 365</div>
            </main>
        </div>
    </section>

    <section data-auto-animate>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>L'architecture d'une application</small>
            </h1>

            <main class="text-center">
                <div>SPA par l'exemple</div>

                <img src="images/excel-source.png" alt="" style="margin-top: 12px;">
                <div class="caption">Source d'Excel 365 sans les balises &lt;script&gt;</div>
            </main>
        </div>
    </section>

    <section data-auto-animate>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>L'architecture d'une application</small>
            </h1>

            <main>
                <h1>Monolithique + MPA = ❤️</h1>
            </main>
        </div>
    </section>
</section>