<section>
    <h1>Propos introductifs</h1>

    <h4 style="margin-top: 24px;">Programmation avancée ?</h4>
    <h4 style="margin-top: 12px;">L'architecture d'une application</h4>
    <h4 style="margin-top: 12px;">L'environnement en entreprise</h4>
    <h4 style="margin-top: 12px;">Les frameworks de développement</h4>
    <h4 style="margin-top: 12px;">Notes concernant l'open source</h4>
</section>