<section data-background-image="images/background-3.jpg" data-background-opacity="0.15">
    <div class="r-stretch">
        <h1 class="section-title">
            Propos introductifs <small>/</small> <small>L'environnement en entreprise</small>
        </h1>
        <main>
            <table>
                <thead>
                    <tr>
                        <th style="text-align: center;">😀 <br>Ressources</th>
                        <th style="text-align: center;">😡 <br>Contraintes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; border-bottom: none;">Environnement <br><small>(toolchain/stack, SSO, SCM, CI, dépôts privés, etc.)</small></td>
                        <td style="text-align: center; vertical-align: middle; border-bottom: none; border-left: solid #FFF;">Temps + Budget<br><small>(concurrence, rentabilité, coût, taille des équipes, etc.)</small></td>
                    </tr>

                    <tr>
                        <td style="text-align: center; vertical-align: middle; border-bottom: none;">Connaissances <br><small>(documentation, normes et conventions, etc.)</small></td>
                        <td style="text-align: center; vertical-align: middle; border-bottom: none; border-left: solid #FFF;">Risques <br><small>(conformité, sécurité, turnover/maladie, etc.)</small></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; border-bottom: none;">Équipes + Expertise <br><small>(architecte applicatif, dba, PO, etc.)</small></td>
                        <td style="text-align: center; vertical-align: middle; border-bottom: none; border-left: solid #FFF;">Engagements <br><small>(SLA / performances / mise à l’échelle)</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</section>