
<section data-auto-animate>
    <section data-auto-animate data-background-image="images/background-1.jpg" data-background-opacity="0.2">
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>Programmation avancée ?</small>
            </h1>
            <main class="two-columns">
                <div class="text-center">
                    <p>DI/IoC, composer, npm/yarn</p>
                    <p>SOLID, ACID, DRY</p>
                    <p>OOP, MVC, DI</p>
                    <p>HTTP, HTTPS/TLS, REST, OAuth</p>
                    <p>monolithique, micro-services</p>
                    <p>EDA, SPA, MPA/SSR</p>
                </div>
                <div class="text-center">
                    <p>documentation</p>
                    <p>normes, conventions, tests</p>
                    <p>conformité, audits, LDAP, SSO</p>
                    <p>DevOps, CI/CD</p>
                    <p>monitoring, mise à l’échelle</p>
                    <p>performances, mise à l’échelle</p>
                </div>
            </main>
        </div>
    </section>

    <section data-auto-animate>
        <div class="r-stretch">
            <h1 class="section-title">
                Propos introductifs <small>/</small> <small>Programmation avancée ?</small>
            </h1>
            <main class="two-columns">
                <ul>
                    <li>Principes & design patterns<br><small>SOLID, ACID, DRY & OOP, MVC, IoC, DI</small></li>
                    <li>Gestion des dépendances <br><small>DI container, semver, maven, composer, npm/yarn</small></li>
                    <li>Normes industrielles <br><small>HTTP, HTTPS/TLS, REST, OAuth</small></li>
                    <li>Architecture applicative <br><small>monolithique, micro-services, EDA, SPA, MPA/SSR</small></li>
                </ul>
                <ul>
                    <li>Qualité <br><small>documentation, normes, conventions, tests</small></li>
                    <li>Environnement des entreprises <br><small>conformité, audits, SCM, LDAP, SSO</small></li>
                    <li>Exploitation <br><small>CI/CD, DevOps, monitoring, mise à l’échelle</small></li>
                </ul>
            </main>
        </div>
    </section>

</section>