<section>
    <div class="r-stretch">
        <h1 class="section-title">
            Propos introductifs <small>/</small> <small>Notes concernant l’open source</small>
        </h1>
        <main>
            <div class="two-columns">
                <div>
                    <h4 style="margin-bottom: 0;">Composants open source</h4>
                    <ul style="font-size: 0.75em; margin-bottom: 24px;">
                        <li style="margin-bottom: 0;">Librairies <br><small>ex. Librairie d'export HTML vers PDF, etc.</small></li>
                        <li style="margin-bottom: 0;">Frameworks <br><small>ex. Laravel, Symfony, etc.</small></li>
                        <li style="margin-bottom: 0;">Utilitaires et logiciels <br><small>ex. MariaDB, PhpMyAdmin, TablePlus, etc.</small></li>
                    </ul>
                </div>

                <div class="fragment">
                    <h4 style="margin-bottom: 0;">Modèles de financement</h4>
                    <ul style="font-size: 0.75em; margin-bottom: 24px;">
                        <li style="margin-bottom: 0;">Supporté par une entreprise <br><small>Disparition de l’entreprise, rachat, etc.</small></li>
                        <li style="margin-bottom: 0;">Supporté par une fondation <br><small>Modalités de financement, taille de la structure, etc.</small></li>
                        <li style="margin-bottom: 0;">Entièrement indépendant <br><small>Investissement du ou des développeurs dans le temps</small></li>
                    </ul>
                </div>
            </div>

            <div class="two-columns">
                <div class="fragment">
                    <h4 style="margin-bottom: 0;">Utilisation d’un composant</h4>
                    <ul style="font-size: 0.75em; margin-bottom: 24px;">
                        <li style="margin-bottom: 0;">Vérifier l'origine du projet</li>
                        <li style="margin-bottom: 0;">Vérifier la licence d'utilisation</li>
                        <li style="margin-bottom: 0;">Vérifier les modalités de maintenance</li>
                        <li style="margin-bottom: 0;">Contribuer à son tour, selon ses compétences
                            <ul>
                                <li style="margin-bottom: 0;">Aider les autres utilisateurs sur les forums</li>
                                <li style="margin-bottom: 0;">Documenter et/ou traduire dans d’autres langues</li>
                                <li style="margin-bottom: 0;">Participer aux correctifs et mises à jour</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>