<section>
    <h1>Gestion des dépendances</h1>

    <h4 style="margin-top: 24px;">Gestion sémantique de version</h4>
    <h4 style="margin-top: 12px;">Gestionnaires de dépendances</h4>
    <h4 style="margin-top: 12px;">Autoloading</h4>
    <h4 style="margin-top: 12px;">Injection de dépendances</h4>
</section>