<section>
    <div class="r-stretch">
        <h1 class="section-title">
            Gestion des dépendances <small>/</small> <small>Gestion sémantique de version</small>
        </h1>
        <main class="text-center">
            <img src="images/semantic-versioning.jpg" alt="">

            <div class="caption">Source: <a href="https://support.invisionapp.com/docs/semantic-versioning">Invision</a></div>
        </main>
    </div>
</section>