<section>
    <div class="r-stretch">
        <h1 class="section-title">
            Gestion des dépendances <small>/</small> <small>Gestionnaires de dépendances</small>
        </h1>
        <main>
            <ul>
                <li>Outils en ligne de commande (CLI)</li>
                <li>
                    Tâches
                    <ol>
                            <li>Définir la liste des <u>dépendances externes</u> du projet et les versions à utiliser</li>
                            <li>Télécharger les dépendances du projet à partir d'un dépôt (privé ou public)</li>
                            <li>(selon le langage) Définir l’auto-loading (chargement des fichiers)</li>
                            <li>(selon le gestionnaire) Définir des tâches/scripts spécifiques au projet</li>
                    </ol>
                </li>
                <li>Dépendances externes = code générique écrit en dehors du projet</li>
                <li>Dépôt public = accès libre</li>
                <li>Dépôt privé = accès restreint (généralement à une entreprise)</li>
            </ul>
        </main>
    </div>
</section>