<section>
    <h1>Cycle de vie des requêtes</h1>

    <h4 style="margin-top: 24px;">Contexte d'exécution</h4>
    <h4 style="margin-top: 12px;">Définir la requête</h4>
    <h4 style="margin-top: 12px;">Traiter la requête</h4>
    <h4 style="margin-top: 12px;">Générer la réponse</h4>
    <h4 style="margin-top: 12px;">Gérer les erreurs</h4>
</section>